/dts-v1/;

#include <st/l5/stm32l552Xe.dtsi>
#include <st/l5/stm32l552z(c-e)txq-pinctrl.dtsi>

/ {
	model = "Iida devkit";
	compatible = "SakuGlumoff,iida-devkit";

	chosen {
		zephyr,console = &cdc_acm_uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	hwid: hwid {
		compatible = "hwid";
		hwid1: hwid1 {
			label = "HWID1";
			gpios = <&gpioa 4 (GPIO_OPEN_DRAIN | GPIO_ACTIVE_HIGH)>;
		};
		hwid2: hwid2 {
			label = "HWID2";
			gpios = <&gpioa 5 (GPIO_OPEN_DRAIN | GPIO_ACTIVE_HIGH)>;
		};
	};

	dbg_gpio: dbg_gpio {
		compatible = "dummy-gpio";
		gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
	};

	aliases {
		die-temp0 = &die_temp;
		volt-sensor0 = &vbat;
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		app_partition: partition@0 {
			label = "app";
			reg = <0x00000000 DT_SIZE_K(512)>;
		};
	};
};

&clk_hsi48 {
	status = "okay";
};

&clk_msi {
	status = "okay";
	msi-range = <6>;
};

&clk_hsi {
	status = "okay";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(16)>;
	status = "okay";
};

&clk_lse {
	clock-frequency = <32768>;
	status = "okay";
};

&pll {
	div-m = <2>;
	mul-n = <25>;
	div-p = <7>;
	div-q = <2>;
	div-r = <2>;
	clocks = <&clk_hsi>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(100)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <1>;
	apb2-prescaler = <1>;
};

&vbat {
	status = "okay";
};

&die_temp {
	status = "okay";
};

&rng {
	status = "okay";
};

&usb {
	status = "okay";
};

&rtc {
	status = "okay";
};

&dma1 {
	status = "okay";
};

&dma2 {
	status = "okay";
};

&dmamux1 {
	status = "okay";
};
