/dts-v1/;

#include <st/l5/stm32l552Xe.dtsi>
#include <st/l5/stm32l552z(c-e)txq-pinctrl.dtsi>

/ {
	model = "Iida devkit";
	compatible = "SakuGlumoff,iida-devkit";

	chosen {
		zephyr,console = &cdc_acm_uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds: leds {
		compatible = "gpio-leds";
		dbg_led_a: dbg_led_a {
			gpios = <&gpioa 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "DBG_LED_A";
		};
		dbg_led_b: dbg_led_b {
			gpios = <&gpioa 8 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "DBG_LED_B";
		};
		dbg_led_c: dbg_led_c {
			gpios = <&gpiob 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "DBG_LED_C";
		};
		dbg_gpio: dbg_gpio {
			gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
			label = "DBG_GPIO";
		};
	};

	hwid: hwid {
		compatible = "hwid";
		hwid1: hwid1 {
			label = "HWID1";
			gpios = <&gpioa 4 (GPIO_OPEN_DRAIN | GPIO_ACTIVE_HIGH)>;
		};
		hwid2: hwid2 {
			label = "HWID2";
			gpios = <&gpioa 5 (GPIO_OPEN_DRAIN | GPIO_ACTIVE_HIGH)>;
		};
	};

	aliases {
		die-temp0 = &die_temp;
		volt-sensor0 = &vbat;
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		app_partition: partition@0 {
			label = "app";
			reg = <0x00000000 DT_SIZE_K(512)>;
		};
	};
};

&clk_hsi48 {
	status = "okay";
};

&clk_msi {
	status = "okay";
	msi-range = <6>;
};

&clk_hsi {
	status = "okay";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(16)>;
	status = "okay";
};

&clk_lse {
	clock-frequency = <32768>;
	status = "okay";
};

&pll {
	div-m = <2>;
	mul-n = <25>;
	div-p = <7>;
	div-q = <2>;
	div-r = <2>;
	clocks = <&clk_hsi>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(100)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <1>;
	apb2-prescaler = <1>;
};

&vbat {
	status = "okay";
};

&die_temp {
	status = "okay";
};

&rng {
	status = "okay";
};

&usb {
	status = "okay";
};

&rtc {
	status = "okay";
};

&dma1 {
	status = "okay";
};

&dma2 {
	status = "okay";
};

&dmamux1 {
	status = "okay";
};

&octospi1 {
	pinctrl-0 = <&octospi1_io0_pb1 &octospi1_io1_pb0 &octospi1_io2_pa7 &octospi1_io3_pa6 &octospi1_clk_pb10 &octospi1_ncs_pb11>;
	pinctrl-names = "default";
	status = "okay";
	norflash: norflash@60000000 {
		compatible = "st,stm32-ospi-nor";
		reg = <0x60000000 DT_SIZE_M(8)>;
		ospi-max-frequency = <DT_FREQ_M(1)>;
		spi-bus-width = <OSPI_SPI_MODE>;
		data-rate = <OSPI_STR_TRANSFER>;
		dmas = <&dma1 0 41 0x480>; /* request 41 for OCTOSPI1 */
		dma-names = "tx_rx";
	};
};

&i2c2 {
	pinctrl-0 = <&i2c2_scl_pb13 &i2c2_sda_pb14>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	status = "okay";
	mcp9808: mcp9808@18 {
		compatible = "microchip,mcp9808", "jedec,jc-42.4-temp";
		reg = <0x18>;
		int-gpios = <&gpiob 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		resolution = <3>;
	};
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pb6 &usart1_rx_pb7>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&usart2 {
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

zephyr_udc0: &usb {
	pinctrl-0 = <&usb_dm_pa11 &usb_dp_pa12>;
	pinctrl-names = "default";
	status = "okay";
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};
